<section class="section-bg">
  <div class="container container-bg">
   
      <form action="/passchange" name="form1" method="post">
	  <div colspan=2 cellpadding="13" width="100%" bgcolor="#FF0000" align="center"
		cellspacing="30">
		<script type="text/javascript" src="/js/custom-js/changepass.js"></script>
		<center><h1><font size=4><b>Password change Form</h1></font></center>
		</div><br>
        <div><center>newPassword:<input type="password"  name="password" id="password_error"/></center></div><br/>
        <div><center>RetypenewPassword:<input type="password" name="repassword" id="confirmpassword_error"/></center></div><br/>
        <div><center><input type="submit" name="Savechanges" onclick="return(validation2());" value="Savechanges"/></center></div></br>
      </form>
  </div>
</section>